Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2020-10, with the labels that each got.

#214 team page for documentation
  docs/images/team-page/c1.png
  docs/images/team-page/c10.jpeg
  docs/images/team-page/c11.jpeg
  docs/images/team-page/c12.png
  docs/images/team-page/c13.jpeg
  docs/images/team-page/c14.jpeg
  docs/images/team-page/c15.jpeg
  docs/images/team-page/c16.jpeg
  docs/images/team-page/c17.jpeg
  docs/images/team-page/c18.jpeg
  docs/images/team-page/c19.jpeg
  docs/images/team-page/c2.jpeg
  docs/images/team-page/c20.png
  docs/images/team-page/c21.png
  docs/images/team-page/c22.png
  docs/images/team-page/c23.png
  docs/images/team-page/c24.jpeg
  docs/images/team-page/c25.jpeg
  docs/images/team-page/c3.jpeg
  docs/images/team-page/c4.jpeg
  docs/images/team-page/c5.jpeg
  docs/images/team-page/c6.jpeg
  docs/images/team-page/c7.jpeg
  docs/images/team-page/c8.png
  docs/images/team-page/c9.png
  docs/images/team-page/team.svg
  docs/team.md
Labels: CH-20, Easy

#211 Have included a few lines in README.md
  README.md
Labels: CH-20, ReadMe

#218 Update 404.html
  404.html
Labels: Beginner, Hacktoberfest

#224 added logo
  assets/images/readme/logo.png
Labels: CH-20, Easy, Hacktoberfest

#227 Update projects.html
  projects.html
Labels: Beginner, CH-20, Hacktoberfest

#228 Update research.html
  research.html
Labels: Beginner, CH-20, Hacktoberfest

#235 IMPROVEDDOCS.HTML
  experience.html
Labels: invalid, spam

#236 IMPROVEDDOCS1.HTML
  index.html
Labels: invalid, spam

#238 Revert "IMPROVEDDOCS1.HTML"
  index.html
Labels: PR: unreviewed

#239 Revert "IMPROVEDDOCS.HTML"
  experience.html
Labels: PR: unreviewed

#234 Update README.md
  README.md
Labels: Beginner, CH-20, Hacktoberfest

#217 Update 404.css
  assets/css/404.css
Labels: deprecated

#241 added gmail in footer
  assets/js/main.js
Labels: Beginner, PR: unreviewed

#242 readme updated
  README.md
  assets/images/readme/education1.jpeg
  assets/images/readme/education2.jpeg
  assets/images/readme/education3.jpeg
  assets/images/readme/experience1.jpeg
  assets/images/readme/experience1.png
  assets/images/readme/experience2.jpeg
  assets/images/readme/experience3.jpeg
  assets/images/readme/experience4.jpeg
  assets/images/readme/home1.png
  assets/images/readme/project1.jpeg
  assets/images/readme/project2.jpeg
  assets/images/readme/project3.jpeg
  assets/images/readme/research1.jpeg
  assets/images/readme/research2.jpeg
  assets/images/readme/research3.jpeg
Labels: Beginner, CH-20, PR: reviewed-approved

#243 Added smooth translateY hover animation to each social icon in the footer
  assets/css/style.css
Labels: Hacktoberfest, PR: unreviewed

#250 Fix small typo.
  README.md
Labels: hacktoberfest-accepted

#253 Update docs favicon
  docs/images/icons/logo.png
  mkdocs.yml
Labels: hacktoberfest-accepted

#255 Update experience.html
  experience.html
Labels: hacktoberfest-accepted

#254 Update projects.html
  projects.html
Labels: hacktoberfest-accepted
