Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2020-09, with the labels that each got.

#118 Moocs cards are even and responsive
  assets/css/education.css
  assets/js/education.js
Labels: CH-20, enhancement

#121 Dark mode switch and footer bug
  assets/css/education.css
  assets/css/experience.css
  assets/css/home.css
  assets/css/project.css
  assets/css/research.css
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Medium, PR: unreviewed, bug

#122 made changes in research page
  assets/BibTeX/cite.bib
  assets/BibTeX/cite.tex
  assets/css/research.css
  assets/css/style.css
  assets/images/research-page/research1.png
  assets/js/main.js
  assets/json/research.json
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Medium, enhancement

#125 Dark mode for home page modified
  assets/css/home.css
  index.html
Labels: CH-20, Easy

#124 resume_template
  resume_template/altacv.cls
  resume_template/main.tex
  resume_template/page1sidebar.tex
Labels: CH-20, Medium

#123 Footer and padding Bug
  assets/css/home.css
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  projects.html
  research.html
Labels: CH-20, Easy, enhancement

#126 latex file added
  resume_template1/Anush bhatia/anush-cv.cls
  resume_template1/Anush bhatia/examples/Anush.tex
Labels: CH-20, Hard

#128 Add list item Blog in nav-bar list
  assets/js/main.js
Labels: Beginner, CH-20

#129 Interactivity in particle effect on hovering and clicking on window.
  assets/js/particle.js
Labels: CH-20, Easy

#131 Added resume to the navbar
  assets/js/main.js
Labels: CH-20, Easy

#136 reduced footer width
  assets/css/style.css
  assets/js/main.js
Labels: Beginner, CH-20

#134 Improved responsiveness
  assets/css/style.css
Labels: PR: unreviewed, bug

#132 Dark mode of Home page and experience page
  assets/css/experience.css
  assets/css/home.css
  assets/css/style.css
  assets/js/main.js
  experience.html
Labels: CH-20, Medium

#138 Revert "Dark mode of Home page and experience page"
  assets/css/experience.css
  assets/css/home.css
  assets/css/style.css
  assets/js/main.js
  experience.html
Labels: PR: unreviewed

#139 Revert "Improved responsiveness"
  assets/css/style.css
Labels: PR: unreviewed

#143 Bugs
  assets/css/experience.css
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  projects.html
  research.html
Labels: CH-20, Easy

#145 Experience page bug and dark mode :)
  assets/css/experience.css
  assets/css/home.css
  assets/css/style.css
  experience.html
Labels: CH-20, Medium, PR: reviewed-approved

#147 Experience Card called dynamically
  assets/css/experience.css
  assets/js/experience.js
  experience.html
Labels: CH-20, Easy

#152 Update experience.html
  experience.html
Labels: Beginner, CH-20

#151 Update education.html
  education.html
Labels: Beginner, CH-20

#141 Updated the footer style on the mobile view and web view
  assets/css/style.css
  assets/js/main.js
Labels: CH-20, Easy, PR: reviewed-changes-requested

#157 Content Correction in Contribution.md
  CONTRIBUTING.md
Labels: CH-20, ReadMe

#148 research page modified
  assets/BibTeX/cite.bib
  assets/BibTeX/cite.tex
  assets/css/research.css
  assets/images/research-page/crossLingual.png
  assets/images/research-page/deepNetwork.png
  assets/images/research-page/dialogueState.png
  assets/images/research-page/imageDecomposition.png
  assets/images/research-page/inteferenceNetwork.png
  assets/images/research-page/neuralNetworks.jpg
  assets/images/research-page/research1.png
  assets/images/research-page/research1.svg
  assets/images/research-page/semanticSegmentation.png
  assets/images/research-page/wordRepresentation.png
  assets/js/research.js
  assets/json/research.json
  research.html
Labels: CH-20, Medium

#149 mentorship section called dynamically
  assets/js/experience.js
  experience.html
Labels: CH-20, Easy

#150 color effect in icons
  assets/css/home.css
Labels: PR: unreviewed

#161 Revert "color effect in icons"
  assets/css/home.css
Labels: PR: unreviewed

#159 project page modified
  assets/css/project.css
  assets/images/project-page/battery.png
  assets/images/project-page/book.png
  assets/images/project-page/chess.jpg
  assets/images/project-page/exercise.jpg
  assets/images/project-page/flappybird.png
  assets/images/project-page/header-male.svg
  assets/images/project-page/minesweeper.jpg
  assets/images/project-page/movie-recommendation.jpeg
  assets/images/project-page/music.jpg
  assets/images/project-page/poker.jpg
  assets/images/project-page/quiz.jpg
  assets/images/project-page/recipe.jpg
  assets/images/project-page/tic-tac-toe.png
  assets/js/project.js
  projects.html
Labels: CH-20, Easy, PR: reviewed-changes-requested

#162 Page not Found 404 updated
  404.css
  404.html
  assets/images/404/not-found.svg
Labels: Beginner, CH-20

#158 Scroll to top button with glowing effect
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Easy

#164 project page bug
  assets/css/project.css
Labels: CH-20, Easy, bug

#167 Bug in Transition of the toggle button in mobile view 🥴
  assets/js/main.js
Labels: CH-20, PR: reviewed-changes-requested, bug

#169 added contributing guide
  CONTRIBUTING GUIDELINES.md
  assets/images/CloneRepo.png
  assets/images/ComparePR.png
  assets/images/Contribute.png
  assets/images/CreatePR.png
Labels: Beginner, CH-20

#170 Revert "Bug in Transition of the toggle button in mobile view 🥴 "
  assets/js/main.js
Labels: PR: unreviewed

#171 Update CONTRIBUTING GUIDELINES.md
  CONTRIBUTING GUIDELINES.md
Labels: CH-20, ReadMe

#176 Dark Mode bugs of all pages
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
  assets/css/style.css
  education.html
  experience.html
  projects.html
  research.html
Labels: CH-20, Medium, bug

#174 Experience and project page
  assets/css/experience.css
  assets/css/project.css
  assets/images/experience-page/IIT_Bombay.jpg
  assets/images/experience-page/flipkart.jpg
  assets/js/experience.js
  assets/js/project.js
  experience.html
Labels: CH-20, Medium, PR: reviewed-changes-requested

#177 Injection of all contents (timeline and badge section) dynamically
  assets/js/education.js
  education.html
Labels: CH-20, Easy

#175 added favicon
  404.html
  assets/images/favicon.png
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Easy

#178 cite bug fixed
  assets/js/research.js
  research.html
Labels: CH-20, Easy, bug

#179 experience and education page modified
  assets/css/education.css
  assets/css/experience.css
  assets/js/education.js
  education.html
Labels: CH-20, Medium, bug

#180 cite bug fixed
  research.html
Labels: CH-20, Easy, bug

#181 404 page added
  404.css
  404.html
  assets/css/404.css
  assets/images/404/not-found.svg
Labels: CH-20, Medium

#182 Improved "to Top button" #166
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Medium

#193 getting started page for documentation
  docs/gs.md
  docs/images/badges.png
  docs/images/edu.png
  docs/images/footer.png
  docs/images/git-clone.png
  docs/images/git-fork.png
  docs/images/home.png
  docs/images/mentorship.png
  docs/images/mooc.png
  docs/images/netlify-pg2.png
  docs/images/netlify-pg3.png
  docs/images/netlify-pg4.png
  docs/images/netlify-pg5.png
  docs/images/netlify-pg6.png
  docs/images/netlify-pg7.png
  docs/images/netlify.png
  docs/images/project.png
  docs/images/research.png
  docs/images/volunteer.png
  docs/images/work-exp.png
Labels: CH-20, Hard

#196 github-pages and aws hosting added
  docs/gs.md
  docs/images/aws.png
  docs/images/aws2.png
  docs/images/aws3.png
  docs/images/aws4.png
  docs/images/github-pages.png
Labels: CH-20, Easy

#197 Github pages and aws hosting method : gh-deploy
  404.html
  gs/index.html
  images/aws.png
  images/aws2.png
  images/aws3.png
  images/aws4.png
  images/github-pages.png
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  team/index.html
Labels: Beginner, CH-20

#198 custom domain section added
  docs/gs.md
  docs/images/cname1.png
  docs/images/cname2.png
Labels: CH-20, Easy

#204 updated readme
  README.md
  assets/images/readme/education.png
  assets/images/readme/experience.png
  assets/images/readme/home.png
  assets/images/readme/project.png
  assets/images/readme/research.png
Labels: CH-20, ReadMe

#201 home page for documentation
  docs/images/home-page/education.png
  docs/images/home-page/experience.png
  docs/images/home-page/hakin_codes.png
  docs/images/home-page/home.png
  docs/images/home-page/project.png
  docs/images/home-page/research.png
  docs/images/home-page/sci.jpg
  docs/index.md
  mkdocs.yml
Labels: CH-20, Easy

#208 Bug in Readme.md
  README.md
Labels: CH-20, ReadMe

#209 Installation and contribution.md file added
  docs/Contribution.md
  docs/gs.md
  docs/images/Contribution/Clone.png
  docs/images/Contribution/Compare.png
  docs/images/Contribution/PR.png
  docs/images/Navbar.png
  mkdocs.yml
Labels: CH-20, Easy

#205 Improve Docs
  README.md
Labels: CH-20, ReadMe
