Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2020-12, with the labels that each got.

#267 A minor typo error in README.md
  README.md
  assets/js/main.js
Labels: nwoc

#272 fixing toggle button bug
  assets/js/main.js
Labels: Intermediate, nwoc

#271 fixed #270 and fixed #269
  index.html
Labels: nwoc

#285 Adding NWOC as Open Source Program
  README.md
  assets/Readme_Assets/nwoc.JPG
Labels: PR: unreviewed, nwoc

#290 Now You can see three projects on Project Page.
  assets/css/project.css
  projects.html
Labels: Beginner, nwoc

#304 Adding Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Beginner, nwoc

#288 Added The carousel of Certificate #278
  assets/css/education.css
  assets/images/education-page/c1.png
  assets/images/education-page/c2.jpg
  assets/images/education-page/c3.png
  assets/images/education-page/c4.png
  assets/images/education-page/c5.jpg
  assets/js/education.js
  education.html
Labels: Intermediate, nwoc

#286 Social Icons in footer section of dark theme
  assets/css/home.css
  assets/css/style.css
Labels: Beginner, nwoc

#268 Updated social icons in dark theme
  assets/css/home.css
Labels: PR: reviewed-changes-requested, nwoc

#306 added favicon
  assets/images/favicon.png
  index.html
Labels: Beginner, nwoc

#287 solved the footer responsiveness bug and design
  assets/css/home.css
  assets/css/style.css
  assets/js/main.js
Labels: Intermediate, nwoc

#309 Placed buttons in research page
  assets/css/research.css
  assets/js/research.js
Labels: Intermediate, nwoc

#313 Fixed the navbar on top
  assets/js/main.js
Labels: Beginner, nwoc

#312 Adding about block for home page.
  assets/css/style.css
  index.html
Labels: PR: unreviewed, nwoc

#314 Added svgs for both male and female
  assets/images/dp_female.svg
  assets/images/dp_male.svg
  assets/images/education-page/header-female.svg
  assets/images/education-page/header-male.svg
  assets/images/project-page/header-female.svg
  assets/images/project-page/header-male.svg
  education.html
  index.html
  projects.html
Labels: Easy, PR: unreviewed, nwoc

#302 Updated the Education section to be more mobile friendly/ added cards animations and new image.
  assets/css/education.css
  assets/css/style.css
  assets/images/education-page/education.png
  education.html
Labels: Hard, nwoc

#326 Fixed education-page carousel bug
  assets/css/education.css
  education.html
Labels: PR: unreviewed, nwoc

#320 Improve Footer Design Fixes #265
  .github/Pull_request_Template.md
  README.md
  assets/css/style.css
  assets/js/education.js
  assets/js/main.js
  index.html
Labels: PR: unreviewed, nwoc

#334 Update gh-pages according to README
  Contribution/index.html
  gs/index.html
  images/home-page/Education_Page.gif
  images/home-page/Experience_Page.gif
  images/home-page/Project_Page.gif
  images/home-page/Research_Page.gif
  images/home-page/education.png
  images/home-page/experience.png
  images/home-page/home.png
  images/home-page/nwoc.JPG
  images/home-page/project.png
  images/home-page/research.png
  images/icons/logo.png
  images/team-page/c1.png
  images/team-page/c10.jpeg
  images/team-page/c11.jpeg
  images/team-page/c12.png
  images/team-page/c13.jpeg
  images/team-page/c14.jpeg
  images/team-page/c15.jpeg
  images/team-page/c16.jpeg
  images/team-page/c17.jpeg
  images/team-page/c18.jpeg
  images/team-page/c19.jpeg
  images/team-page/c2.jpeg
  images/team-page/c20.png
  images/team-page/c21.png
  images/team-page/c22.png
  images/team-page/c23.png
  images/team-page/c24.jpeg
  images/team-page/c25.jpeg
  images/team-page/c3.jpeg
  images/team-page/c4.jpeg
  images/team-page/c5.jpeg
  images/team-page/c6.jpeg
  images/team-page/c7.jpeg
  images/team-page/c8.png
  images/team-page/c9.png
  images/team-page/team.svg
  images/team.svg
  index.html
  team/index.html
Labels: Intermediate, nwoc

#330 Update Documentation
  docs/Contribution.md
  docs/images/home-page/Education_Page.gif
  docs/images/home-page/Experience_Page.gif
  docs/images/home-page/Project_Page.gif
  docs/images/home-page/Research_Page.gif
  docs/images/home-page/education.png
  docs/images/home-page/experience.png
  docs/images/home-page/home.png
  docs/images/home-page/nwoc.JPG
  docs/images/home-page/project.png
  docs/images/home-page/research.png
  docs/images/team-page/c1.png
  docs/images/team-page/c10.jpeg
  docs/images/team-page/c11.jpeg
  docs/images/team-page/c12.png
  docs/images/team-page/c13.jpeg
  docs/images/team-page/c14.jpeg
  docs/images/team-page/c15.jpeg
  docs/images/team-page/c16.jpeg
  docs/images/team-page/c17.jpeg
  docs/images/team-page/c18.jpeg
  docs/images/team-page/c19.jpeg
  docs/images/team-page/c2.jpeg
  docs/images/team-page/c20.png
  docs/images/team-page/c21.png
  docs/images/team-page/c22.png
  docs/images/team-page/c23.png
  docs/images/team-page/c24.jpeg
  docs/images/team-page/c25.jpeg
  docs/images/team-page/c3.jpeg
  docs/images/team-page/c4.jpeg
  docs/images/team-page/c5.jpeg
  docs/images/team-page/c6.jpeg
  docs/images/team-page/c7.jpeg
  docs/images/team-page/c8.png
  docs/images/team-page/c9.png
  docs/images/team-page/team.svg
  docs/images/team.svg
  docs/index.md
  docs/team.md
Labels: Intermediate, nwoc

#329 make changes in sidebar interface
  assets/js/main.js
  index.html
Labels: PR: reviewed-changes-requested, nwoc

#335 Revert "make changes in sidebar interface "
  assets/js/main.js
  index.html
Labels: PR: unreviewed

#344 Added appropriate padding after navbar in all the pages
  education.html
  experience.html
  projects.html
  research.html
Labels: Beginner, nwoc

#345 Fixed problem related to fixed navbar
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: Beginner, nwoc

#338 Added carousel navigation buttons and removed certificate button on education card and fixed its text, also fixed mooc card in dark mode.
  assets/css/education.css
  assets/css/style.css
  education.html
Labels: Intermediate, nwoc

#351 Make grid size as 4
  assets/css/project.css
  assets/js/project.js
  projects.html
Labels: nwoc

#352 Update in README done
  README.md
Labels: nwoc

#355 fixed icon visibility problem
  assets/css/project.css
Labels: PR: unreviewed, nwoc

#359 Changed grid size in project tab to 2, added a search bar and got rid of description
  assets/css/project.css
  assets/js/project.js
  projects.html
Labels: Hard, nwoc

#362 Fixed Theme-Toggler in the SideNav
  assets/css/style.css
  assets/js/main.js
Labels: Intermediate, PR: reviewed-approved, nwoc

#368 social media icons position fixed in mobile view
  assets/js/main.js
Labels: PR: unreviewed, nwoc

#361 Cite Card is updated, project image is responsive & placed cite button appropriately.
  assets/css/research.css
  assets/js/research.js
  research.html
Labels: PR: unreviewed, nwoc

#370 Added logo for devscript
  README.md
  assets/Readme_Assets/WOC-logo.png
Labels: PR: unreviewed, nwoc

#373 added constraints to textarea
  assets/css/style.css
  assets/js/main.js
Labels: PR: unreviewed, nwoc

#349 Skill page with requested changes added
  assets/images/skill-page/ai.png
  assets/images/skill-page/aws.png
  assets/images/skill-page/azure.png
  assets/images/skill-page/cs.png
  assets/images/skill-page/css3.png
  assets/images/skill-page/design.png
  assets/images/skill-page/docker.png
  assets/images/skill-page/ds.png
  assets/images/skill-page/figma.png
  assets/images/skill-page/firebase.png
  assets/images/skill-page/fullstack.png
  assets/images/skill-page/gc.png
  assets/images/skill-page/html5.png
  assets/images/skill-page/icon.png
  assets/images/skill-page/inkscape.svg.png
  assets/images/skill-page/js.png
  assets/images/skill-page/keras.png
  assets/images/skill-page/kubernete.png
  assets/images/skill-page/nodejs.png
  assets/images/skill-page/python.png
  assets/images/skill-page/pytorch.png
  assets/images/skill-page/react.png
  assets/images/skill-page/s1.png
  assets/images/skill-page/tensorflow.png
  assets/images/skill-page/xd.png
  assets/js/main.js
  skill.html
Labels: PR: unreviewed, nwoc

#381 fixed toggler issue in mobile screens
  assets/js/main.js
Labels: Intermediate, nwoc

#366 Fixed the position of buttons on research page.
  assets/js/research.js
Labels: Intermediate, nwoc

#383 Added animation in waving hand #377
  assets/css/style.css
  index.html
Labels: DWOC, Level 3

#389 Added image for home page (index.md)
  docs/images/home-page/dwoc.png
  docs/index.md
Labels: PR: unreviewed

#391 Added zoom effect to the cards on hover
  assets/css/experience.css
  assets/css/research.css
  assets/js/research.js
  experience.html
Labels: Intermediate, nwoc

#388 Modifications of social media icons
  assets/css/home.css
  assets/js/main.js
  index.html
Labels: PR: reviewed-approved, nwoc
