Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2020-07, with the labels that each got.

#25 Social media icons
  css/project.css
  projects.html
Labels: PR: unreviewed

#26 Responsive Navbar
  css/project.css
  index.html
  projects.html
Labels: PR: unreviewed

#27 Addition of cards and responsiveness of the page
  css/project.css
  projects.html
Labels: PR: unreviewed

#29 Created edu. page, created edu. css page & Added Navbar, headings and…
  css/education.css
  education.html
Labels: PR: unreviewed

#32 Added content for the exp. pg
  css/experience.css
  experience.html
Labels: PR: unreviewed

#33 Create linter.yml
  .github/workflows/linter.yml
Labels: PR: unreviewed

#30 Materialize css navbar added in every page
  contact.html
  css/education.css
  css/home.css
  css/project.css
  css/style.css
  education.html
  experience.html
  index.html
  projects.html
  scripts/main.js
Labels: PR: unreviewed, SCI-2020

#35 Fixed index.html, projects.html, experience.html, style.css
  css/style.css
  experience.html
  index.html
  projects.html
Labels: PR: unreviewed

#36 Particle effect added
  css/home.css
  education.html
  experience.html
  index.html
  js/main.js
  js/particle.js
  js/particles.min.js
  projects.html
Labels: PR: unreviewed

#39 Icons and text animation added
  assets/smaranjit_ghose.jpg
  css/home.css
  index.html
  js/home.js
  js/particle.js
Labels: PR: unreviewed

#41 Icon, Logo and navbar added in every page
  assets/css/experience.css
  assets/css/project.css
  assets/css/style.css
  assets/images/John-Doe.png
  assets/js/main.js
  css/education.css
  css/experience.css
  css/materialize.min.css
  css/style.css
  education.html
  experience.html
  index.html
  projects.html
Labels: PR: unreviewed

#42 New Education Timeline Added
  assets/css/education.css
  assets/images/education-page/timeline.png
  education.html
Labels: PR: unreviewed, SCI-2020

#44 Made changes in navbar, title, sub-title & cards
  assets/css/experience.css
  assets/images/experience-page/Workplace.png
  experience.html
Labels: PR: unreviewed, SCI-2020

#46 Fix: Update the link
  README.md
Labels: PR: reviewed-approved

#43 Bug in project page
  assets/css/home.css
  assets/css/project.css
  assets/css/style.css
  index.html
Labels: PR: unreviewed, SCI-2020

#47 Added MOOCs
  assets/css/education.css
  assets/images/education-page/header.svg
  assets/images/education-page/mooc.jpg
  assets/js/main.js
  education.html
Labels: PR: unreviewed

#45 Added illustration as subtitle along with text at left
  assets/css/home.css
  assets/css/project.css
  assets/images/experience-page/man working illustration.jpg
  assets/images/experience-page/woman working illustration.jpg
  experience.html
Labels: PR: unreviewed

#49 Project page changed
  assets/css/project.css
  assets/images/project-page/header.svg
  assets/images/project-page/project-card.svg
  education.html
  index.html
  projects.html
Labels: PR: unreviewed

#52 Added animation in all the section & reduce the card width
  assets/images/education-page/header.svg
  assets/images/education-page/mooc.jpg
  assets/images/education-page/mooc.png
  assets/js/education.js
  assets/js/main.js
  education.html
Labels: PR: unreviewed, SCI-2020

#51 Education Page enhancement
  assets/css/education.css
  assets/images/education-page/data-science.svg
  assets/images/education-page/header.svg
  assets/images/education-page/mooc.png
  assets/images/education-page/problem-solving.svg
  assets/images/education-page/robotics.svg
  assets/images/education-page/timeline-1.svg
  assets/images/education-page/timeline-2.svg
  assets/images/education-page/timeline.png
  assets/js/education.js
  assets/js/main.js
  education.html
Labels: PR: unreviewed, SCI-2020

#54 Used bootstrap classes for padding and changed background color
  assets/css/education.css
  assets/images/education-page/badges.png
  education.html
Labels: PR: unreviewed

#53 Cards and Social Icons modified
  .vscode/settings.json
  assets/css/home.css
  assets/css/project.css
  index.html
  projects.html
Labels: PR: unreviewed

#55 Removed animation
  assets/js/education.js
  education.html
Labels: PR: unreviewed

#56 Footer added
  .vscode/settings.json
  assets/css/project.css
  assets/css/style.css
  projects.html
Labels: PR: unreviewed

#57 Changes in Footer
  assets/css/project.css
  assets/css/style.css
  assets/images/John-Doe1.png
  projects.html
Labels: PR: unreviewed, SCI-2020

#58 Dynamic Footer and Header 🎉
  assets/css/experience.css
  assets/css/home.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
Labels: PR: unreviewed, SCI-2020

#59 Dynamic feature added in Project cards 🎊
  assets/js/project.js
  projects.html
Labels: PR: unreviewed

#60 Changes made in Experience page🧐
  assets/css/experience.css
  assets/images/experience-page/experience.svg
  assets/images/experience-page/man working illustration.jpg
  assets/images/experience-page/woman working illustration.jpg
  education.html
  experience.html
  projects.html
Labels: PR: reviewed-changes-requested, SCI-2020

#61 Changed Badges icon & formatted the code
  education.html
Labels: PR: unreviewed, SCI-2020

#62 Cards added in Volunteering section 😃
  assets/css/experience.css
  assets/css/style.css
  assets/images/experience-page/1.jpg
  assets/images/experience-page/2.jpg
  assets/images/experience-page/3.jpg
  education.html
  experience.html
  projects.html
Labels: PR: unreviewed

#63 Project card enhancement ⚠️
  assets/css/experience.css
  assets/css/project.css
  assets/css/style.css
  assets/js/main.js
  assets/js/project.js
  experience.html
  projects.html
Labels: PR: unreviewed, SCI-2020

#64 Dynamic feature added in project card
  assets/css/experience.css
  assets/css/project.css
  assets/js/project.js
  projects.html
Labels: PR: unreviewed, SCI-2020

#65 Content added in Experience page
  assets/css/experience.css
  assets/images/experience-page/4.jpg
  assets/images/experience-page/5.jpg
  assets/images/experience-page/6.jpg
  assets/images/experience-page/ISI.png
  assets/images/experience-page/UCL.jpg
  assets/images/experience-page/Workplace.png
  assets/images/experience-page/lema-labs.jpg
  assets/images/experience-page/lema-labs.png
  experience.html
Labels: PR: unreviewed

#66 Dynamic volunteership card added
  assets/css/experience.css
  assets/js/experience.js
  experience.html
Labels: PR: unreviewed, SCI-2020

#67 Changed header image
  assets/css/hover-min.css
  assets/images/education-page/badge1.png
  assets/images/education-page/badge2.png
  assets/images/education-page/badge3.png
  assets/images/education-page/badges.png
  assets/images/education-page/header.svg
  assets/js/education.js
  education.html
Labels: PR: unreviewed, SCI-2020

#68 Data added in project section
  assets/images/project-page/autovaidya.jpg
  assets/images/project-page/deepholi.jpg
  assets/images/project-page/doc2pen.jpg
  assets/js/project.js
  projects.html
Labels: PR: unreviewed, SCI-2020

#69 Added google site verification
  education.html
  experience.html
  index.html
  projects.html
Labels: PR: unreviewed

#70 Added robots.txt file
  education.html
  experience.html
  index.html
  projects.html
  robots.txt
Labels: PR: unreviewed, SCI-2020

#71 Research.html added
  assets/images/research-page/research.svg
  assets/js/main.js
  research.html
Labels: PR: unreviewed, SCI-2020
