Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2020-08, with the labels that each got.

#72 Bug and rearrangement
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: PR: unreviewed

#73 Added more meta tags
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: PR: unreviewed

#77 Minor changes in home section
  assets/css/home.css
Labels: PR: unreviewed, SCI-2020, bug

#78 Icons hover state recovered
  assets/css/home.css
  index.html
Labels: PR: unreviewed

#79 Added og property
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: PR: unreviewed, SCI-2020, SEO

#86 Added mentorship section
  assets/icons/arrow-right/arrow-right-circle.svg
  assets/images/experience-page/gsoc.png
  assets/images/experience-page/hakin.png
  experience.html
Labels: CH-20, PR: unreviewed

#87 about section added
  index.html
Labels: PR: unreviewed

#93 about section added
  assets/css/home.css
  assets/css/style.css
  assets/images/dp.svg
  assets/images/upto.svg
  assets/js/main.js
  index.html
Labels: CH-20, Hard, PR: unreviewed, enhancement

#89 added terminal effect
  assets/css/home.css
Labels: Beginner, CH-20, PR: unreviewed, enhancement

#96 Fixed the errors
  CONTRIBUTING.md
Labels: CH-20, PR: unreviewed, ReadMe

#101 First Draft of Research Page
  assets/css/research.css
  research.html
Labels: CH-20, Easy

#109 Moocs images are changed and links are added
  assets/images/education-page/coursera-logo-square.jpg
  assets/images/education-page/coursera.png
  assets/images/education-page/udemy.png
  assets/js/education.js
  education.html
Labels: Beginner, CH-20

#108 update footer
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: CH-20, Easy, PR: unreviewed, enhancement

#114 Space between the Moocs cards has been reduced
  assets/images/education-page/EdX.png
  assets/images/education-page/coursera-logo-square.jpg
  assets/images/education-page/udacity_logo.png
  assets/js/education.js
Labels: Beginner, CH-20

#115 Dark mode for home page
  assets/css/education.css
  assets/css/experience.css
  assets/css/home.css
  assets/css/project.css
  assets/css/research.css
  assets/css/style.css
  assets/js/main.js
  index.html
Labels: CH-20, Medium, enhancement

#117 moocs card structure is responsive
  assets/images/education-page/coursera.png
  assets/images/education-page/coursera1.png
  assets/js/education.js
Labels: CH-20, Easy, bug
