Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2021-07, with the labels that each got.

#827 Preloader UI updates
  assets/css/preloader.css
  education.html
  experience.html
  gallery.html
  index.html
  projects.html
  research.html
  travel_temp.html
Labels: LGMSOC21, 🟥 Level4

#844 Button bug
  assets/css/research.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#842 Hackathon Section added in Expereince Page
  assets/css/experience.css
  assets/images/experience-page/atlas.png
  assets/images/experience-page/citro.png
  assets/images/experience-page/elevate.png
  assets/images/experience-page/hack3.png
  assets/images/experience-page/hackasolution.png
  assets/images/experience-page/jithack.png
  assets/images/experience-page/mission.png
  assets/images/experience-page/neo.png
  assets/images/experience-page/nhacks.png
  assets/images/experience-page/pitchteen.png
  assets/images/experience-page/recess.png
  assets/images/experience-page/ulhacks.png
  assets/images/experience-page/uniglobe.png
  assets/images/experience-page/uplift.png
  assets/images/experience-page/wafflehacks.png
  assets/js/experience.js
  experience.html
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#850 Added Top Button,Scrollbar and Modified the Theme
  src/App.css
  src/App.js
  src/assets/images/dp_male.svg
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
  src/pages/404/404.js
  src/pages/Home/Home.css
Labels: PR: unreviewed

#845 Added Responsiveness To Experience Page
  assets/css/experience.css
  experience.html
Labels: LGMSOC21, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed, 🟥 Level4

#880 Updated Design Page UI
  assets/css/design.css
  assets/images/designs/hero.svg
  assets/images/designs/mockups/1.svg
  assets/images/designs/mockups/2.svg
  assets/images/designs/mockups/3.svg
  assets/images/designs/mockups/4.svg
  assets/images/designs/mockups/5.svg
  assets/images/designs/mockups/6.svg
  assets/images/designs/mockups/7.svg
  assets/images/designs/mockups/8.svg
  assets/images/designs/ui_ux/1.svg
  assets/images/designs/ui_ux/2.svg
  assets/images/designs/ui_ux/3.svg
  assets/images/designs/ui_ux/4.svg
  assets/images/designs/ui_ux/5.svg
  assets/images/designs/ui_ux/6.svg
  assets/images/designs/ui_ux/7.svg
  assets/images/designs/ui_ux/8.svg
  design.html
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#887 Resolved Deployment Issues
  src/App.js
  src/components/Footer/Footer.js
  src/pages/Home/Home.css
  src/pages/Home/Home.js
  src/pages/Research/Research.js
Labels: PR: reviewed-approved

#875 Added feather fa icon
  assets/js/app.js
Labels: LGMSOC21, 🟧 Level3

#897 bugFix: remove scroll-bar during preload
  assets/css/preloader.css
  assets/js/app.js
  design.html
  education.html
  experience.html
  index.html
  projects.html
  research.html
  travel_temp.html
Labels: PR: reviewed-approved, open-source-day

#889 Parallax Photo Carosel for Event Page
  assets/css/event.css
  assets/images/event/image1.jpg
  assets/images/event/image2.jpg
  assets/images/event/image3.jpg
  assets/images/event/image4.jpg
  assets/images/event/image5.jpg
  assets/images/event/image6.jpg
  assets/images/event/image7.jpg
  assets/images/event/image8.jpg
  assets/js/app.js
  assets/js/event.js
  event.html
Labels: LGMSOC21, PR: reviewed-approved, PR: unreviewed, 🟥 Level4

#898 Custom dot cursor added
  assets/css/cursor.css
  assets/css/experience.css
  assets/css/style.css
  assets/js/cursor.js
  education.html
  experience.html
  projects.html
  research.html
Labels: open-source-day

#902 resolved preloader issues
  assets/css/experience.css
  assets/css/preloader.css
  design.html
  education.html
  event.html
  experience.html
  index.html
  projects.html
  research.html
  travel_temp.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#843 Made dark mode social icons more prominent
  assets/css/style.css
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-changes-requested, 🟧 Level3

#914 Scroll Bar Fixed
  assets/js/app.js
Labels: PR: reviewed-approved, open-source-day

#913 Send button Round corners and Hover done
  assets/css/style.css
Labels: LGMSOC21, open-source-day, 🟧 Level3

#925 Fixes navbar bug
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved, PR: unreviewed

#916 Send button round corner and hover done in reactjs
  src/components/Footer/Footer.css
Labels: LGMSOC21, PR: reviewed-approved, open-source-day, 🟥 Level4

#934 Fixed footer to be responsive in mobile #932
  src/components/Footer/Footer.css
Labels: PR: reviewed-approved, open-source-day

#936 Added animate on scroll to open source cards
  assets/js/experience.js
Labels: DCP21, PR: reviewed-approved

#941 Remove Horizontal Scroll Bar
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
Labels: DCP21, LGMSOC21, 🟥 Level4

#944 added devincept on open source programs
  README.md
  readme_assets/open_source_programs/devincept.gif
Labels: DCP21, PR: unreviewed

#945 Fixed Mozilla Firefox bugs
  assets/css/style.css
Labels: DCP21, PR: reviewed-approved, PR: unreviewed

#947 Fixed Text on Experience Card in Dark mode
  assets/css/experience.css
  assets/css/style.css
Labels: PR: reviewed-approved, open-source-day

#955 box-shadow for socialicons
  assets/css/home.css
Labels: PR: reviewed-approved, open-source-day

#953 Education Page SVG Overlapping Bug Fixed #952
  assets/css/education.css
Labels: PR: reviewed-approved, open-source-day

#957 fixed the Read More button bug on experience page
  assets/css/experience.css
Labels: PR: reviewed-approved, open-source-day

#958 added an inline link in README.md for slower connection
  README.md
Labels: PR: reviewed-approved, open-source-day

#967 red cursor not visible on navbar fixed
  .vscode/settings.json
  assets/css/cursor.css
  assets/css/style.css
Labels: PR: reviewed-approved, open-source-day

#972 Update index.md
  docs/index.md
Labels: PR: reviewed-approved

#926 back-to-top Fix
  package-lock.json
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
Labels: PR: unreviewed

#974 Updated the list of Open Source programs this project was a part of
  docs/images/home-page/crosswoc.png
  docs/images/home-page/devincept.gif
  docs/images/home-page/lgmsoc.png
  docs/images/home-page/mwoc.png
  docs/index.md
Labels: PR: unreviewed

#979 fixed #942
  assets/js/app.js
Labels: DCP21, PR: unreviewed

#983 Update README to add OSD to Open Source Projects list
  README.md
  readme_assets/open_source_programs/OSD.jpg
Labels: DCP21, PR: unreviewed, open-source-day

#984 Added Animate on Scroll to Project's Card
  assets/js/project.js
  projects.html
Labels: DCP21, PR: unreviewed

#981 made navbar responsive in mobile and added border animation on navbar sections
  package-lock.json
  package.json
  src/components/HamburgerButton/HambugerButton.js
  src/components/HamburgerButton/HamburgerButton.css
  src/components/Navbar/Navbar.css
  src/components/Navbar/Navbar.js
Labels: PR: reviewed-approved, open-source-day

#991 Scroll button mobile fix
  src/components/Footer/Footer.js
  src/components/Navbar/Navbar.js
  src/hooks/useMobile.js
Labels: PR: reviewed-approved, open-source-day

#971 bugFix: fix image overflow in the research page
  assets/css/research.css
Labels: PR: reviewed-approved, open-source-day

#992 Experience Page Dark Mode UI Improvement
  assets/css/experience.css
Labels: PR: reviewed-approved, open-source-day

#996 Education Page UI Improvement [Dark Mode]
  assets/css/education.css
Labels: PR: reviewed-approved, open-source-day

#948 Add SEO meta tags in reactjs
  package-lock.json
  package.json
  src/App.js
  src/pages/404/404.js
  src/pages/Education/Education.js
  src/pages/Experience/Experience.js
  src/pages/Gallery/Gallery.js
  src/pages/Home/Home.js
  src/pages/Projects/Projects.js
  src/pages/Research/Research.js
Labels: PR: reviewed-changes-requested, open-source-day

#976 added hover effect to the navbar in react project
  package-lock.json
  src/components/Navbar/Navbar.css
  src/components/Navbar/Navbar.js
Labels: PR: unreviewed, open-source-day

#998 Toggle button hover effect removed (Issue #959) Resolved
  assets/css/style.css
  assets/js/app.js
Labels: DCP21, PR: unreviewed

#1004 fixes #989 : Removed ScrollBar track during Preloader animation
  assets/css/style.css
Labels: DCP21, PR: unreviewed

#1002 Fix the light mode not working after clicking light mode button toggle
  assets/css/event.css
Labels: DCP21, PR: reviewed-changes-requested

#1011 #1010 Addressed hover link visibility in dark mode
  assets/css/style.css
Labels: DCP21, PR: reviewed-approved, PR: unreviewed
