Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2021-06, with the labels that each got.

#684 Spelling corrected
  README.md
Labels: LGMSOC21, PR: reviewed-approved, PR: unreviewed

#689 Work-Exp UI updated for each view
  assets/css/experience.css
  assets/js/experience.js
  experience.html
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#698 Added aos-animations for Research Page
  assets/js/research.js
  research.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#697 Updated all headings and sub-headings
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
  education.html
  experience.html
  projects.html
  research.html
Labels: LGMSOC21, PR: reviewed-approved, PR: unreviewed

#693 Added Cursor to Pointer #691
  assets/css/experience.css
  assets/css/project.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#692 Added transition to navbar.
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved

#703 Added hover on mentorship and research section.
  assets/css/experience.css
  assets/css/research.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#708 AOS animation added
  assets/css/experience.css
  assets/js/experience.js
  experience.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#714 Add issue #709 to main
  assets/js/app.js
Labels: LGMSOC21, PR: unreviewed

#721 Fixed syntax error in 404.css
  assets/css/404.css
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#717 Removed dynamic title from all the pages (Issue #711)
  404.html
  assets/js/dynamicTitle.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#729 Aligned the footer text in same line
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#755 Added resume in navigation bar
  assets/docs/Jhon_Doe.pdf
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#759 BIBTEX replaced by CITE(button) Issue #741
  assets/js/research.js
Labels: LGMSOC21, PR: reviewed-approved, 🟩 Level1

#760 Pre-Loader Issue in Projects Page fixed Issue #740
  projects.html
Labels: LGMSOC21, PR: reviewed-approved, 🟩 Level1

#767 made_website_responsive_for_remaining_devices
  assets/css/home.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#770 improved the overall consistency of color theme
  assets/css/project.css
  assets/css/style.css
  projects.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#764 Popup box feature successfully imported
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-changes-requested, PR: unreviewed

#771 designin spacing changes in projects card and education title
  assets/css/education.css
  assets/css/project.css
  assets/js/project.js
  projects.html
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#706 #668 Footer Design
  assets/css/style.css
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#778 Improved Navbar transition #677
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#763 Created gallery page
  assets/css/gallery.css
  assets/images/gallery-page/hero.svg
  assets/images/gallery-page/mockups/1.svg
  assets/images/gallery-page/mockups/2.svg
  assets/images/gallery-page/mockups/3.svg
  assets/images/gallery-page/mockups/4.svg
  assets/images/gallery-page/mockups/5.svg
  assets/images/gallery-page/mockups/6.svg
  assets/images/gallery-page/mockups/7.svg
  assets/images/gallery-page/mockups/8.svg
  assets/images/gallery-page/ui_ux/1.svg
  assets/images/gallery-page/ui_ux/2.svg
  assets/images/gallery-page/ui_ux/3.svg
  assets/images/gallery-page/ui_ux/4.svg
  assets/images/gallery-page/ui_ux/5.svg
  assets/images/gallery-page/ui_ux/6.svg
  assets/images/gallery-page/ui_ux/7.svg
  assets/images/gallery-page/ui_ux/8.svg
  gallery.html
Labels: LGMSOC21, 🟥 Level4

#768 Shaking hand
  assets/images/Hand.gif
  index.html
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#776 Removed spaces from style.css
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved, 🟩 Level1

#777 Created travel vlog summary template page
  assets/css/travel_temp.css
  assets/images/travel/hero.svg
  assets/images/travel/trip1/lotus_temple.jpg
  assets/images/travel/trip1/national_zoological_park.jpg
  assets/images/travel/trip1/old_fort.jpg
  assets/images/travel/trip1/qutub_minar.jpg
  assets/images/travel/trip1/red_fort.jpg
  assets/images/travel/trip1/street.jpg
  assets/js/travel_temp.js
  travel_temp.html
Labels: LGMSOC21, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed, 🟥 Level4

#780 Scroll to the top btn (#665)
  assets/css/style.css
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#781 Pre-Loader (#752)
  assets/css/preloader.css
  assets/css/style.css
  education.html
  experience.html
  gallery.html
  index.html
  projects.html
  research.html
  travel_temp.html
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#790 Added shadow for homepage image
  assets/css/style.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#791 added dark mode
  assets/css/education.css
  assets/css/project.css
  assets/css/research.css
  assets/css/style.css
  assets/js/app.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: LGMSOC21, 🟥 Level4

#813 added some badges to README
  README.md
Labels: LGMSOC21, PR: reviewed-approved

#810 Updated Contribution Guidelines
  CONTRIBUTING.md
  readme_assets/CloneRepo.png
  readme_assets/ComparePR.png
  readme_assets/CreatePR.png
  readme_assets/Fork_Repo.gif
  readme_assets/clone_repo.gif
Labels: LGMSOC21, PR: reviewed-approved

#808 Removed hr in footer and deleted main.js file
  assets/js/app.js
  assets/js/main.js
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#812 Excessive gap reduced between the cards and the illlustration in research page .
  assets/css/research.css
Labels: LGMSOC21, PR: reviewed-approved, 🟧 Level3

#815 Fixed height of volunteer images
  assets/js/experience.js
  experience.html
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#816 Removed extra space in Open source cards
  assets/js/experience.js
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#821 WebPage Card Image and PDF added
  readme_assets/Portfolio-Card PDF.pdf
  readme_assets/Portfolio-Card.jpg
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#826 Update Readme
  README.md
  readme_assets/Contribution.png
Labels: LGMSOC21, PR: reviewed-approved, 🟨 Level2

#830 Improved dark mode toggle switch
  assets/css/style.css
  assets/images/dark_mode.png
  assets/images/light_mode.png
  assets/js/app.js
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#822 Fix responsiveness in Home Page
  assets/css/home.css
  index.html
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#828 404 UI Update
  404.html
  assets/css/404.css
  assets/js/404.js
Labels: LGMSOC21, PR: reviewed-approved, 🟥 Level4

#833 Experience page UI fixed - Cards color fixed in dark mode
  assets/css/experience.css
Labels: LGMSOC21, PR: unreviewed

#834 Revert "Experience page UI fixed - Cards color fixed in dark mode"
  assets/css/experience.css
Labels: PR: unreviewed

#792 Converted into parallax depth card
  .gitignore
  assets/css/project.css
  assets/js/project.js
  projects.html
Labels: LGMSOC21, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed, 🟥 Level4

#836 colorConsistency
  .gitignore
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
  assets/css/style.css
  assets/images/dp_male.svg
  assets/js/app.js
  assets/js/project.js
  education.html
  experience.html
  projects.html
  research.html
Labels: LGMSOC21, 🟧 Level3
