Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2021-10, with the labels that each got.

#1076 Favicon Bug fixed - fixes #1063
  education.html
Labels: PR: unreviewed

#1074 Removed import of any other fonts in html or css files Fixes: issue #…
  assets/css/404.css
  assets/css/experience.css
  assets/css/references.css
  assets/css/research.css
  education.html
  event.html
  experience.html
  index.html
Labels: PR: unreviewed

#1079 Revert "Removed import of any other fonts in html or css files Fixes: issue #…"
  assets/css/404.css
  assets/css/experience.css
  assets/css/references.css
  assets/css/research.css
  education.html
  event.html
  experience.html
  index.html
Labels: PR: unreviewed

#1069 Updated color of swiper bullets
  assets/js/app.js
Labels: PR: reviewed-approved

#1058 typo fix "Metor" -> "Mentor"
  assets/js/experience.js
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1057 updated button color to white
  assets/css/style.css
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1068 Fixed typos and grammar error in README
  README.md
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1067 Education Page: Eliminate Additional Space #1062
  assets/css/education.css
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1077 Fixed #1072
  assets/css/experience.css
  assets/css/style.css
Labels: PR: reviewed-approved

#1088 Updated card background color for Reference page
  assets/css/references.css
  reference.html
Labels: PR: reviewed-approved

#1086 Made the footer font same as the Navbar(Poppins) #1083
  package-lock.json
  src/components/Footer/Footer.css
Labels: PR: reviewed-approved

#1089 Dark Mode images Modification
  assets/images/education-page/EdX.png
  assets/images/education-page/coursera1.png
  assets/images/education-page/coursera2.svg
  assets/images/education-page/edx.svg
  assets/images/education-page/udacity.svg
  assets/images/education-page/udacity_logo.png
  assets/images/education-page/udemy.png
  assets/images/education-page/udemy.svg
  assets/images/education-page/udemy2.svg
  assets/js/education.js
  education.html
Labels: PR: unreviewed

#1090 Added required changes
  assets/css/references.css
  assets/js/references.js
Labels: PR: reviewed-approved

#1056 added box shadow to the navbar in the light theme only
  assets/css/style.css
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1092 Footer icons bug fixed
  assets/css/education.css
Labels: PR: reviewed-approved

#1098 Research page responsiveness bug fixed
  assets/css/research.css
Labels: PR: reviewed-approved, hacktoberfest-accepted, open-source-day

#1130 Updated Google Analytics
  CONTRIBUTING.md
  design.html
  education.html
  event.html
  experience.html
  index.html
  projects.html
  reference.html
  research.html
  sem_temp.html
  travel_temp.html
Labels: PR: unreviewed

#1131 Made the hackathon cards responsive
  experience.html
Labels: PR: unreviewed
