Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2021-01, with the labels that each got.

#414 Adding blog page with dark theme
  assets/js/main.js
Labels: Hard, nwoc

#413 Added dynamic banner for the repo README
  README.md
Labels: Beginner, nwoc

#385 Solved #384
  index.html
Labels: Beginner, PR: reviewed-approved, SWoC2021

#402 Fixed GitHub button issue
  assets/css/home.css
Labels: Beginner, PR: reviewed-approved, SWoC2021

#410 added neuromorphic effect in Research page
  assets/css/research.css
Labels: PR: reviewed-approved, SWoC2021

#404 Added new UI in Projects section
  assets/css/project.css
  assets/js/main.js
  projects.html
Labels: Intermediate, PR: reviewed-approved, SWoC2021

#409 Improved Mobile View of skills page (#380)
  assets/css/project.css
  skill.html
Labels: Medium, PR: reviewed-approved, SWoC2021

#415 Update skill.html
  skill.html
Labels: Beginner, SWoC2021

#419 UI Improvement: fixed colors and shadow spread in Research page
  assets/css/research.css
Labels: DWOC, PR: unreviewed, SWoC2021, nwoc

#420 UI Improvement: converted 2 columns into 3
  assets/css/project.css
  projects.html
Labels: Medium, PR: reviewed-approved, SWoC2021

#448 Issue #434 - Made the height of cards under 'A little about me' uniform. Created a file named home.js. Made the cards to pick content from a file called home.js.
  assets/css/home.css
  assets/js/home.js
  index.html
Labels: Medium, PR: reviewed-approved, SWoC2021

#451 Fixed issue "Resolving the illustration and cards to prevent clashing🐛 "
  assets/css/education.css
  assets/css/research.css
  education.html
Labels: Easy, SWoC2021

#454 Issue #426. Both the task 1 and task 2 are achieved. Details in the pull request.
  assets/js/research.js
  research.html
Labels: Hard, SWoC2021

#438 Project Page Search Bar UI Neumorphism
  assets/css/project.css
  projects.html
Labels: DWOC, Level-4, PR: reviewed-approved

#449 added neumorphic UI in the Experience Page
  assets/css/experience.css
  assets/css/style.css
  assets/js/experience.js
  experience.html
Labels: DWOC, Intermediate, PR: reviewed-changes-requested, PR: unreviewed, SWoC2021, nwoc

#463 Project Page search bar through project name also added
  assets/js/project.js
  projects.html
Labels: Intermediate, PR: reviewed-approved, SWoC2021

#458 Issue #457. Fixed navbar's hamburger for smaller screens. Details in the PR
  assets/css/style.css
  assets/js/main.js
Labels: Easy, SWoC2021

#446 Modification of footer
  assets/css/home.css
  assets/css/style.css
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
  skill.html
Labels: DWOC, Hard, PR: reviewed-approved, PR: unreviewed, SWoC2021

#479 Documentation Improvement #453
  docs/index.md
Labels: Beginner, PR: reviewed-approved, SWoC2021

#481 Move Hosting to different page
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  docs/gs.md
  docs/hosting.md
  docs/images/home-page/dp_female.svg
  docs/images/home-page/dp_male.svg
  docs/images/home-page/education-page/c1.png
  docs/images/home-page/education-page/c2.jpg
  docs/images/home-page/education-page/c3.png
  docs/images/home-page/education-page/c4.png
  docs/images/home-page/education-page/c5.jpg
  docs/images/home-page/education-page/education.png
  docs/images/home-page/education-page/header-female.svg
  docs/images/home-page/education-page/header-male.svg
  docs/images/home-page/home/resume.png
  docs/images/home-page/project-page/header-female.svg
  docs/images/home-page/skill-page/ai.png
  docs/images/home-page/skill-page/aws.png
  docs/images/home-page/skill-page/azure.png
  docs/images/home-page/skill-page/cs.png
  docs/images/home-page/skill-page/css3.png
  docs/images/home-page/skill-page/design.png
  docs/images/home-page/skill-page/docker.png
  docs/images/home-page/skill-page/ds.png
  docs/images/home-page/skill-page/figma.png
  docs/images/home-page/skill-page/firebase.png
  docs/images/home-page/skill-page/fullstack.png
  docs/images/home-page/skill-page/gc.png
  docs/images/home-page/skill-page/html5.png
  docs/images/home-page/skill-page/icon.png
  docs/images/home-page/skill-page/inkscape.svg.png
  docs/images/home-page/skill-page/js.png
  docs/images/home-page/skill-page/keras.png
  docs/images/home-page/skill-page/kubernete.png
  docs/images/home-page/skill-page/nodejs.png
  docs/images/home-page/skill-page/python.png
  docs/images/home-page/skill-page/pytorch.png
  docs/images/home-page/skill-page/react.png
  docs/images/home-page/skill-page/s1.png
  docs/images/home-page/skill-page/tensorflow.png
  docs/images/home-page/skill-page/xd.png
  docs/images/home-page/swoc.png
  docs/index.md
  docs/team.md
  mkdocs.yml
Labels: Beginner, SWoC2021

#486 Revert "Move Hosting to different page"
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  docs/gs.md
  docs/hosting.md
  docs/images/home-page/dp_female.svg
  docs/images/home-page/dp_male.svg
  docs/images/home-page/education-page/c1.png
  docs/images/home-page/education-page/c2.jpg
  docs/images/home-page/education-page/c3.png
  docs/images/home-page/education-page/c4.png
  docs/images/home-page/education-page/c5.jpg
  docs/images/home-page/education-page/education.png
  docs/images/home-page/education-page/header-female.svg
  docs/images/home-page/education-page/header-male.svg
  docs/images/home-page/home/resume.png
  docs/images/home-page/project-page/header-female.svg
  docs/images/home-page/skill-page/ai.png
  docs/images/home-page/skill-page/aws.png
  docs/images/home-page/skill-page/azure.png
  docs/images/home-page/skill-page/cs.png
  docs/images/home-page/skill-page/css3.png
  docs/images/home-page/skill-page/design.png
  docs/images/home-page/skill-page/docker.png
  docs/images/home-page/skill-page/ds.png
  docs/images/home-page/skill-page/figma.png
  docs/images/home-page/skill-page/firebase.png
  docs/images/home-page/skill-page/fullstack.png
  docs/images/home-page/skill-page/gc.png
  docs/images/home-page/skill-page/html5.png
  docs/images/home-page/skill-page/icon.png
  docs/images/home-page/skill-page/inkscape.svg.png
  docs/images/home-page/skill-page/js.png
  docs/images/home-page/skill-page/keras.png
  docs/images/home-page/skill-page/kubernete.png
  docs/images/home-page/skill-page/nodejs.png
  docs/images/home-page/skill-page/python.png
  docs/images/home-page/skill-page/pytorch.png
  docs/images/home-page/skill-page/react.png
  docs/images/home-page/skill-page/s1.png
  docs/images/home-page/skill-page/tensorflow.png
  docs/images/home-page/skill-page/xd.png
  docs/images/home-page/swoc.png
  docs/index.md
  docs/team.md
  mkdocs.yml
Labels: PR: unreviewed

#482 Issue #475. Fixed expereince page cards. Details in the PR.
  assets/css/experience.css
Labels: PR: reviewed-changes-requested, SWoC2021

#488 Added Footer Design In app.js
  assets/css/style.css
  assets/js/app.js
Labels: Medium, PR: reviewed-approved, SWoC2021

#490 Issue #473. Redesigned the research page. Details in the PR
  assets/css/research.css
  assets/js/research.js
  research.html
Labels: Hard, PR: reviewed-approved, SWoC2021

#491 Project Section Male
  assets/custom_illustrations/1.svg
  assets/custom_illustrations/Project Section.png
Labels: Medium, SWoC2021

#493 Project Section Female
  assets/custom_illustrations/2.svg
  assets/custom_illustrations/Project Section (1).png
Labels: DWOC, Level-4, Medium, SWoC2021

#497 Move hosting images to /hosting and updated markdown heading
  docs/Contribution.md
  docs/gs.md
  docs/hosting.md
  docs/images/home-page/swoc.png
  docs/images/hosting/aws.png
  docs/images/hosting/aws2.png
  docs/images/hosting/aws3.png
  docs/images/hosting/aws4.png
  docs/images/hosting/cname1.png
  docs/images/hosting/cname2.png
  docs/images/hosting/github-pages.png
  docs/images/hosting/netlify-pg2.png
  docs/images/hosting/netlify-pg3.png
  docs/images/hosting/netlify-pg4.png
  docs/images/hosting/netlify-pg5.png
  docs/images/hosting/netlify-pg6.png
  docs/images/hosting/netlify-pg7.png
  docs/images/hosting/netlify.png
  docs/index.md
  docs/team.md
  mkdocs.yml
Labels: Easy, SWoC2021

#489 Added navbar mobile view transition
  assets/css/home.css
  assets/css/style.css
  assets/js/app.js
  assets/js/main.js
  education.html
  experience.html
  index.html
  projects.html
Labels: DWOC, Medium, PR: reviewed-approved, SWoC2021

#499 Removed Carousel Section
  assets/css/education.css
  education.html
Labels: DWOC, PR: unreviewed, SWoC2021

#502 Make Navbar fullscreen on click in mobile view
  assets/css/style.css
  assets/js/app.js
Labels: DWOC, Medium, SWoC2021

#501 Experience page issue solved
  assets/css/experience.css
  education.html
Labels: Easy, PR: partially-approved, SWoC2021

#507 Design improvements in some areas. #506
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  education.html
Labels: DWOC, Level-4, Medium, PR: reviewed-approved, SWoC2021

#508 Adding Minimal Label:Project Page #428
  assets/css/project.css
  assets/js/project.js
Labels: DWOC, PR: reviewed-approved, PR: unreviewed, SWoC2021

#509 Improved Footer Design
  assets/css/experience.css
  assets/css/style.css
  assets/js/app.js
Labels: Easy, PR: reviewed-approved, SWoC2021
