Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2021-02, with the labels that each got.

#526 Project Page Search Bar Bug #512
  assets/css/project.css
Labels: Easy, PR: reviewed-approved, SWoC2021

#525 Project_Card_Tag_Bug #513
  assets/css/project.css
  assets/js/project.js
Labels: Easy, SWoC2021

#528 SideNav Hamburger Animation #519
  assets/css/style.css
  assets/js/app.js
Labels: Medium, SWoC2021

#540 Commenting code for understanding
  assets/js/app.js
  assets/js/project.js
Labels: Beginner, PR: reviewed-approved, SWoC2021

#541 Issue #510. Reupdated the scrollbar with the suggested changes
  assets/css/style.css
Labels: DWOC, Level-4, Medium, PR: reviewed-approved, SWoC2021

#542 SVG Animation for Research Page #522
  assets/css/research.css
  research.html
Labels: Medium, PR: reviewed-approved, SWoC2021

#552 Finally bug is resolved.
  assets/css/project.css
  assets/js/project.js
Labels: PR: reviewed-approved

#560 added micro-animations to twitter and github icon
  assets/css/home.css
  assets/css/style.css
  assets/js/app.js
  index.html
Labels: DWOC, Hard, Level-5, MWOC, PR: reviewed-approved, SWoC2021, user=Abhijay007:score=100

#566 Active page in navbar can be in different colour #539 (Issue Resolved)
  assets/css/style.css
  assets/js/app.js
Labels: Easy, PR: reviewed-approved, PR: reviewed-changes-requested, PR: unreviewed

#590 added micro-animations to linkedin and instagram icon
  assets/css/home.css
  assets/css/style.css
  assets/js/app.js
  index.html
Labels: DWOC, Hard, Level-5, MWOC, PR: reviewed-approved, SWoC2021, user=Abhijay007:score=100

#589 remove:Materialize
  assets/css/materialize.min.css
  assets/js/materialize.min.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: MWOC, PR: reviewed-approved, user=souravseal99:score:25

#592 headings and subheadings update
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
  education.html
  experience.html
  projects.html
  research.html
Labels: PR: unreviewed

#591 Volunteer Card UI Upadte in the Experience page
  assets/css/experience.css
  assets/js/experience.js
Labels: PR: unreviewed

#546 Issue#517
  assets/css/preloader.css
  assets/css/style.css
  assets/js/app.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: Hard, PR: partially-approved, PR: unreviewed, SWoC2021

#596 Revert "headings and subheadings update "
  assets/css/education.css
  assets/css/experience.css
  assets/css/project.css
  assets/css/research.css
  education.html
  experience.html
  projects.html
  research.html
Labels: PR: unreviewed

#599 added micro-animations to dribbble and code forces icon
  assets/css/home.css
  index.html
Labels: Hard, PR: reviewed-approved, SWoC2021

#604 Dynamix title
  404.html
  assets/images/folded.png
  assets/js/dynamicTitle.js
  education.html
  experience.html
  index.html
  projects.html
  research.html
Labels: DWOC, Level-4, MWOC, Medium, SWoC2021, user=ashuvssut:score=50

#600 added SVG animation to the sidebar of mobile view
  assets/css/style.css
  assets/js/app.js
Labels: Hard, Level-5, MWOC, SWoC2021, user=Abhijay007:score=100

#611 project bug fixed
  assets/css/project.css
Labels: MWOC, Medium, SWoC2021, user=ashuvssut:score=50

#613 added SVG animation to the education page
  assets/css/education.css
  education.html
Labels: Hard, MWOC, PR: reviewed-approved, SWoC2021, user=Abhijay007:score=100

#616 added SVG animation to the research page
  assets/css/research.css
  research.html
Labels: Hard, MWOC, PR: reviewed-approved, SWoC2021, user=Abhijay007:score=100

#617 Navbar Bar Text Alignment done Properly
  assets/css/style.css
Labels: Easy, PR: reviewed-approved, SWoC2021

#618 added SVG animation to the project page
  assets/css/project.css
  projects.html
Labels: Hard, MWOC, PR: partially-approved, PR: reviewed-approved, PR: unreviewed, SWoC2021, user=Abhijay007:score=100

#621 Experience Page
  data/experience.js
  package-lock.json
  package.json
  pages/experience.js
  public/experience/1.jpg
  public/experience/2.jpg
  public/experience/3.jpg
  public/experience/4.jpg
  public/experience/5.jpg
  public/experience/6.jpg
  public/experience/IIT_Bombay.jpg
  public/experience/experience.svg
  public/experience/flipkart.jpg
  public/experience/gsoc.png
  public/experience/hakin.png
  styles/Experience.module.scss
  styles/globals.css
Labels: Hard, MWOC, PR: reviewed-approved, SWoC2021, user=sanjay270899:score=100

#622 home page responsiveness
  assets/css/home.css
Labels: Hard, MWOC, PR: unreviewed, SWoC2021, user=Abhijay007:score=50

#624 [Nextjs] Header
  components/Header.js
  data/header.js
  pages/experience.js
  pages/index.js
  public/logo.png
  styles/Experience.module.scss
  styles/Header.module.scss
Labels: PR: unreviewed

#623 added SVG animation to the experience page
  assets/css/experience.css
  assets/css/project.css
  experience.html
Labels: PR: unreviewed
