Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2022-03, with the labels that each got.

#1230 Removed text color change on hover effect
  assets/css/experience.css
Labels: Medium, JWOC

#1229 footer: fix the color of github icon
  assets/css/style.css
Labels: PR: reviewed-approved, Medium, JWOC

#1234 Updated the text color of navbar
  assets/css/style.css
Labels: PR: unreviewed

#1231 [React Version] Design Page UI Fix
  package-lock.json
  package.json
  src/App.js
  src/assets/images/design-page/mockups/1.svg
  src/assets/images/design-page/mockups/2.svg
  src/assets/images/design-page/mockups/3.svg
  src/assets/images/design-page/mockups/4.svg
  src/assets/images/design-page/mockups/5.svg
  src/assets/images/design-page/mockups/6.svg
  src/assets/images/design-page/mockups/7.svg
  src/assets/images/design-page/mockups/8.svg
  src/assets/images/design-page/ui_ux/1.svg
  src/assets/images/design-page/ui_ux/2.svg
  src/assets/images/design-page/ui_ux/3.svg
  src/assets/images/design-page/ui_ux/4.svg
  src/assets/images/design-page/ui_ux/5.svg
  src/assets/images/design-page/ui_ux/6.svg
  src/assets/images/design-page/ui_ux/7.svg
  src/assets/images/design-page/ui_ux/8.svg
  src/pages/Design/Design.js
  src/pages/Design/design.module.css
  src/pages/Design/imageTemplate.js
Labels: PR: unreviewed

#1237 Responsiveness of research page
  assets/css/research.css
  assets/js/research.js
  research.html
Labels: PR: unreviewed

#1238 research: use 100% width only for div
  assets/css/research.css
Labels: PR: reviewed-approved, Medium, JWOC

#1240 Updated scroll animation
  src/pages/Experience/Experience.js
Labels: PR: unreviewed

#1243 Education Page Mobile Responsive fix.
  assets/css/education.css
  education.html
Labels: PR: unreviewed

#1242 research: fix layouts while opening from mobile
  assets/css/research.css
Labels: PR: unreviewed

#1244 Updated profile shadow
  src/pages/Home/Home.module.css
Labels: PR: reviewed-approved, Easy, JWOC

#1247 Image borders updated
  assets/css/references.css
  reference.html
Labels: PR: reviewed-approved, Medium, JWOC

#1246 integrated FormCarry into the contact form
  assets/js/app.js
Labels: PR: reviewed-approved, Hard, JWOC

#1249 added contact form section
  docs/gs.md
  docs/images/FormCarry/Endpoint.PNG
  docs/images/FormCarry/SendMessage.gif
  docs/images/FormCarry/Submissions.PNG
Labels: PR: reviewed-approved, Medium, JWOC

#1250 Made changes to buttons alignment
  assets/css/research.css
  assets/js/research.js
Labels: PR: reviewed-approved, Hard, JWOC

#1251 Made changes in Work-ex section (React)
  package-lock.json
  package.json
  src/pages/Experience/Experience.module.css
Labels: PR: unreviewed

#1255 Updated reference page data
  assets/js/references.js
Labels: PR: unreviewed

#1256 Preloader and animation updated
  src/components/Preloader/Preloader.css
  src/components/Preloader/Preloader.js
  src/pages/Projects/Project.module.css
  src/pages/Projects/Projects.js
Labels: PR: unreviewed

#1259 Added homepage animation
  package-lock.json
  package.json
  src/App.js
  src/pages/Home/AnimateOnChange.js
  src/pages/Home/Home.js
  src/pages/Home/HomeAnimation.js
Labels: PR: unreviewed

#1264 New PR added dark mode toggle button
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.module.css
  src/pages/Research/Research.js
  src/pages/Research/card.js
  src/pages/Research/cardetails.js
Labels: PR: unreviewed

#1262 Dynamic tabname
  public/folded.ico
  public/index.html
  src/App.js
  src/components/Navbar/Navbar.js
  src/pages/Research/Research.js
  src/pages/Research/card.js
Labels: PR: unreviewed

#1267 Preloader added for all screens
  src/pages/Education/Education.js
  src/pages/Experience/Experience.js
  src/pages/Home/Home.js
  src/pages/References/Reference.js
  src/pages/Research/Research.js
  src/pages/Resume/Resume.js
Labels: PR: unreviewed

#1266 Updated Hackathon section in react version
  src/pages/Experience/Experience.module.css
  src/pages/Experience/SlideContent.js
Labels: PR: unreviewed

#1269 Updated CSS in Open Source Section
  package-lock.json
  src/pages/Experience/Experience.module.css
Labels: PR: unreviewed

#1274 fix social media icons when opening the page in dark mode
  assets/css/home.css
Labels: PR: unreviewed

#1271 Navbar items alignment
  src/components/Navbar/Navbar.module.css
Labels: PR: reviewed-approved

#1275 Hamburger menu responsiveness
  package-lock.json
  src/components/Navbar/Navbar.js
  src/components/Navbar/Navbar.module.css
Labels: PR: unreviewed

#1278 Sem-Temp Page updated
  assets/css/sem_temp.css
  sem_temp.html
Labels: PR: unreviewed

#1277 Fixed text in research page
  assets/css/research.css
Labels: PR: unreviewed

#1279 Carousel issue resolved
  experience.html
Labels: PR: unreviewed

#1281 Research and reference pages are visible
  src/pages/References/Reference.js
  src/pages/Research/Research.js
Labels: PR: unreviewed

#1288 Project page
  package-lock.json
  package.json
  src/pages/Projects/Project.module.css
  src/pages/Projects/Projects.js
Labels: PR: unreviewed

#1293 Project page bugs resolved
  src/pages/Projects/Project.module.css
  src/pages/Projects/Projects.js
Labels: PR: reviewed-approved, Medium, JWOC
