Repository smaranjitghose/awesome-portfolio-websites, pull requests merged in 2022-02, with the labels that each got.

#1163 Removed Medium Icon
  src/pages/Home/Home.js
Labels: PR: reviewed-approved

#1162 Replaced Typewriter Effect with React Animation On Change
  package-lock.json
  package.json
  src/pages/Home/AnimateOnChange.js
  src/pages/Home/Home.js
  src/pages/Home/Home.module.css
Labels: PR: reviewed-approved, Medium, JWOC

#1171 Removed Commented Code and Reduced Possible LOC
  assets/css/404.css
  assets/css/cursor.css
  assets/css/design.css
  assets/css/education.css
  assets/css/event.css
  assets/css/experience.css
  assets/css/home.css
  assets/css/preloader.css
  assets/css/project.css
  assets/css/references.css
  assets/css/research.css
  assets/css/sem_temp.css
  assets/css/style.css
  assets/css/travel_temp.css
  assets/js/404.js
  assets/js/app.js
  assets/js/cursor.js
  assets/js/dynamicTitle.js
  assets/js/education.js
  assets/js/experience.js
  assets/js/particle.js
  assets/js/project.js
  assets/js/references.js
  assets/js/research.js
  assets/js/travel_temp.js
  design.html
  experience.html
  research.html
Labels: PR: unreviewed

#1172 Updated footer social icons
  package-lock.json
  package.json
  src/components/Footer/Footer.js
  src/components/Footer/Footer.module.css
Labels: PR: unreviewed

#1177 Add Project Page to the React Version #1153 solved
  src/pages/Projects/Project.module.css
  src/pages/Projects/Projects.js
  src/pages/Projects/data.js
Labels: PR: reviewed-approved, Medium, JWOC

#1176 Improved the UI of the footer for light mode
  assets/css/style.css
Labels: PR: unreviewed

#1178 New PR
  assets/css/experience.css
Labels: PR: reviewed-approved, Medium, JWOC

#1182 Fixed #1155
  public/favicon.ico
Labels: PR: reviewed-approved, JWOC

#1181 Updated navbar links on hover
  assets/css/style.css
Labels: PR: reviewed-approved, Medium, JWOC

#1184 changed the backgroundcolor of card
  assets/css/education.css
Labels: Medium, JWOC

#1186 Fixed Footer Bug & Minor responsive fixes
  src/components/Footer/Footer.module.css
  src/pages/Projects/Project.module.css
Labels: PR: reviewed-approved

#1185 Added animation to SUBMIT button
  assets/css/style.css
  assets/js/app.js
Labels: PR: unreviewed, Hard, JWOC

#1183 Updated reference page
  assets/css/preloader.css
  assets/css/references.css
  assets/js/references.js
Labels: PR: unreviewed, Medium, JWOC

#1188 Updated responsiveness
  assets/css/references.css
Labels: PR: unreviewed

#1197 removed unused parameter
  assets/js/project.js
Labels: PR: reviewed-approved

#1192 Add Open Source Section for React Version #1151 solved
  package.json
  src/assets/images/opensource/1.jpg
  src/assets/images/opensource/2.jpg
  src/assets/images/opensource/3.jpg
  src/assets/images/opensource/4.jpg
  src/assets/images/opensource/IIT_Bombay.jpg
  src/assets/images/opensource/atlas.png
  src/assets/images/opensource/citro.png
  src/assets/images/opensource/elevate-hack.png
  src/assets/images/opensource/flipkart.jpg
  src/assets/images/opensource/gsoc.png
  src/assets/images/opensource/hack3.png
  src/assets/images/opensource/hackasol.png
  src/assets/images/opensource/jithack.png
  src/assets/images/opensource/mission.png
  src/assets/images/opensource/neo.png
  src/assets/images/opensource/nhack.png
  src/assets/images/opensource/pitchteen.png
  src/assets/images/opensource/recess.png
  src/assets/images/opensource/ul-hack.png
  src/assets/images/opensource/uniglobe.png
  src/assets/images/opensource/upllift.png
  src/assets/images/opensource/waffle-hack.png
  src/pages/Experience/Experience.js
  src/pages/Experience/Experience.module.css
  src/pages/Experience/SlideContent.js
  src/pages/Experience/openSource.js
Labels: PR: unreviewed

#1195 Added a page for Tech Stack
  assets/css/techstack.css
  assets/images/techstack-page/bootstrap.png
  assets/images/techstack-page/c.png
  assets/images/techstack-page/cpp.png
  assets/images/techstack-page/css.png
  assets/images/techstack-page/git.png
  assets/images/techstack-page/html.png
  assets/images/techstack-page/javascript.png
  assets/images/techstack-page/node.png
  assets/images/techstack-page/python.png
  assets/images/techstack-page/react.png
  assets/js/techstack.js
  techstack.html
Labels: PR: reviewed-approved

#1199 fixed navbar links for light theme #1198
  assets/css/style.css
Labels: Medium, JWOC

#1228 added missing css file to education page
  education.html
Labels: PR: reviewed-approved, Hard, JWOC
